doctype html
html
  head
    title= 'ParkingTalk : Dash-Board'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/angular-chart.js/dist/angular-chart.css')
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    script(src='/library/jQuery_2.1.4.js')
    script(src='/bower_components/chart.js/dist/Chart.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-chart.js/dist/angular-chart.js')
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src='javascripts/model.js')
    script(src="javascripts/main.js")
  body
    block content
