        <div class="setBack">
            <div class="row targetRow">
                <div class="col-sm-3" id="sidebar">
                    <div class="col-sm-12 setBlock">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control find-box" placeholder="예)12가1234" id="findKey" aria-describedby="findCar">
                                <span class="input-group-addon" style="cursor: pointer;" ng-click="findBtn()">차량검색</span>
                            </div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="" onclick="tabClk('home')" aria-controls="home" role="tab" data-toggle="tab">주차현황</a>
                                </li>
                                <li role="presentation">
                                    <a href="" onclick="tabClk('profile')" aria-controls="profile" role="tab" data-toggle="tab">예약현황</a>
                                </li>
                                <li class="refrash" ng-click="checkStatus()">
                                    새로고침
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <table class="table">
                                        <tr>
                                            <th class="ath">
                                                <span style="color:#4ea8f4;font-size:20px;">{{park_info.site.total-park_info.site.now}}</span>
                                                대 주차 중</th>
                                            <th class="ath" style="line-height: 30px;">총 {{park_info.site.total}}면</th>
                                        </tr>
                                        <tr ng-repeat="status in siteStatus" class="divide_line">
                                            <td class="atd">{{status.car_info.car_num}}<br>
                                                <i class="glyphicon glyphicon-arrow-right"></i>{{status.stat_time}}</td>
                                            <td class="td-r">{{status.time_chk}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <!--<tr ng-repeat="status in resStatus">-->
                                        <!--<td class="atd">{{status.car_info.car_num}}<br>-->
                                            <!--<i class="glyphicon glyphicon-arrow-right"></i>{{status.stat_time}}</td>-->
                                        <!--<td class="td-r">{{status.time_chk}}</td>-->
                                    <!--</tr>-->
                                    <table class="table">
                                        <div ng-repeat="res in resStatus" class="divide_line">
                                            <div><span class="res_title_deco">{{res.site_code}}</span>면에 배정 예정</div>
                                            <div>{{res.car_num}} || {{res.tel}}</div>
                                            <div class="line_deco">입차예정 : {{res.in_txt}}</div>
                                            <div class="line_deco">출차예정 : {{res.out_txt}}</div>
                                        </div>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!--<div class="row" style="line-height: 38px;margin-top:4px;">-->
                        <!--<div class="col-sm-2">-->
                            <!--<div>-->
                            <!--알림사항-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-10">-->
                            <!--<div class="alerts">-->
                                <!--23너3366 차량이 진입했습니다.-->
                                <!--<span style="right: 10%;position: absolute;" class="refrash">더보기</span>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                    <div style="background-color: #DFDFDF;padding-top:10px;">
                        <div class="subTitle">단면도</div>
                        <div class="maps" style="overflow-x: scroll;overflow-y: hidden">
                            <div style="text-align:left;width:1550px;margin-top:10px;">

                                <div id="siteView" style="width:1550px; height:500px;visibility:hidden;">
                                    <div style="text-align: right;">
                                        <img src="images/ic_in.png" class="site_in_ico">
                                    </div>
                                    <table style="margin-left:15px;">
                                        <tr ng-repeat="y in site_info.y" style="visibility: {{y.v}}">
                                            <td class="td" ng-repeat="x in site_info.x">
                                                <div style="overflow:hidden;width:{{x.cm =='Y'? 20 : 50}}px;height:{{x.cm =='Y'? 40 : 70}}px;background-color: {{x.c}};"></div>
                                            </td>
                                        </tr>
                                    </table>
                                    <img src="images/ic_in.png" class="site_out_ico">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
