<link rel="stylesheet" type="text/css" href="library/kt/css/default.css" />
<script type="text/javascript" src="library/kt/js/common.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="library/kt/js/gridster/jquery.gridster.css"/>
<script type="text/javascript" src="library/kt/js/gridster/jquery.gridster.js"></script>
<script src="javascripts/main.js"></script>
<style>
    .titledeco{
        font-size: 20px;
        top: 4px !important;
        color: #9596A0 !important;
        font-weight: 200;
    }
    .sect_hCet{
        margin-top: 12px;
        font-size: 14px;
        font-weight: 200;
    }
.close_btn{
        width: 24px;
        opacity: 0.4;
    }
    .title_add{
        border-bottom: 1px solid rgba(171, 171, 171, 0.35);
    }
</style>

        <div ng-app="sctDashModule">
            <div ng-controller="mainCtrl">
                <loading style="display:{{loadingStatus}}" ></loading>
                <div id="wrap">
                    <!--++++++++++++++++++++++++++++++++++++++++Header++++++++++++++++++++++++++++++++++++++++-->
                    <div id="header">
                        <div class="hdInner">
                        <!--Header Left: BI-->
                        <div class="sect_logo">
                            <a href="/" title=""><img src="library/kt/images/logos.png" style="height: 60px;" alt="IoT Dashboard" /></a>
                        </div>
                    </div>
                    </div>
                    <!--++++++++++++++++++++++++++++++++++++++++//Header++++++++++++++++++++++++++++++++++++++++-->
                    <!--++++++++++++++++++++++++++++++++++++++++Contents++++++++++++++++++++++++++++++++++++++++-->
                    <div id="contents" class="cntDash">
                        <div class="gridster">
                            <ul id="gridster_ul">
                                <li data-row="1" data-col="1" data-sizex="12" data-sizey="6">
                                    <!--Contents Box-->
                                    <div class="boxBs">
                                        <div class="boxBsInner">
                                            <div class="box_tit title_add">
                                                <div class="sect_hLft titledeco">
                                                    {{park_info.title}}
                                                </div>
                                                <div class="sect_hCet">
                                                    <span class="glyphicon glyphicon-ok-sign"
                                                          style="color:{{park_info.site.is_full=='Y'? '#FF0000' : '#00FF23'}}" aria-hidden="true"></span>
                                                    &nbsp;{{status}}&nbsp;
                                                    <button onclick="testbtn()" class="button">상세보기
                                                        <i class="glyphicon glyphicon-new-window" style="font-size:0.8em" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="sect_hRgt">
                                                    <i ng-click="test(0,'out')" style="display:{{isS0=='Y'?'block':'none'}}" class="glyphicon glyphicon-chevron-down"></i>
                                                    <i ng-click="test(0,'in')" style="display:{{isS0=='N'?'block':'none'}}" class="glyphicon glyphicon-chevron-up"></i>
                                                    <!--<img src="library/kt/images/ico_close.png" class="close_btn" ng-click="test(0)" alt="Close"/>-->
                                                </div>
                                            </div>
                                            <div class="box_cnt" style="overflow: scroll">
                                                <!--Contents iframe-->
                                                <div ng-include="'/frame/ctnBlock.html'">

                                                </div>
                                                <!--//Contents iframe-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--//Contents Box-->
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--++++++++++++++++++++++++++++++++++++++++Contents++++++++++++++++++++++++++++++++++++++++-->

                </div>
                <div class="modal fade" id="findInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                차량결과 리스트</div>
                            <div class="modal-body">
                                <div ng-repeat="targetSite in targetSites">
                                    <div style="width:70%;float:left;">
                                        <table class="modal_table">
                                            <tr>
                                                <td>차량 번호 : </td>
                                                <td>{{targetSite.car_info.car_num}}</td>
                                            </tr>
                                            <tr>
                                                <td>주차위치 : </td>
                                                <td>{{targetSite.site_code}}</td>
                                            </tr>
                                            <tr>
                                                <td>주차시작시간 : </td>
                                                <td>{{targetSite.in_txt}}</td>
                                            </tr>
                                            <tr>
                                                <td>경과시간 : </td>
                                                <td>{{targetSite.during_txt}}</td>
                                            </tr>
                                            <tr>
                                                <td>최종정보갱신시간 : </td>
                                                <td>{{targetSite.update_txt}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="width:30%;float:left;">
                                        <img ng-src="{{storage_url}}{{targetSite.car_info.img_path}}" style="width: 80%;margin-left:10%;">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="parkInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{park_info.title}} ({{park_info.park_id}})</h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading">{{park_info.address.prev}} {{'('+park_info.address.new+')'}}</div>
                                    <!-- Table -->
                                    <table class="table">
                                        <tr>
                                            <td>전화번호</td>
                                            <td>{{park_info.tel}}</td>
                                        </tr>
                                        <tr>
                                            <td>가격정보</td>
                                            <td>최초 : {{park_info.price.first.b}}
                                                {{park_info.price.first.t=='M'?'분 ':'시간 '}}
                                                {{park_info.price.first.p}}원<br>
                                                {{park_info.price.basic.b}}
                                                {{park_info.price.basic.t=='M'?'분 당 ':'시간 당 '}}
                                                {{park_info.price.basic.p}}원<br>
                                                최대 : {{park_info.price.max? park_info.price.max+'원':'없음'}}<br>
                                                일요금 : {{park_info.price.daily? park_info.price.daily+'원':'없음'}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>시간정보</td>
                                            <td>
                                                평일 : {{park_info.time_info.weekday.start.slice(0,2)}}:{{park_info.time_info.weekday.start.slice(2)}} ~ {{park_info.time_info.weekday.end.slice(0,2)}}:{{park_info.time_info.weekday.end.slice(2)}}<br>
                                                주말 : {{park_info.time_info.weekend.start.slice(0,2)}}:{{park_info.time_info.weekend.start.slice(2)}} ~ {{park_info.time_info.weekend.end.slice(0,2)}}:{{park_info.time_info.weekend.end.slice(2)}}<br>
                                                공휴일 : {{park_info.time_info.holiday.start.slice(0,2)}}:{{park_info.time_info.holiday.start.slice(2)}} ~ {{park_info.time_info.holiday.end.slice(0,2)}}:{{park_info.time_info.holiday.end.slice(2)}}<br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>주차면정보</td>
                                            <td>{{park_info.site.total-park_info.site.now}} 면 주차 중 / 총 {{park_info.site.total}} 면</td>
                                        </tr>
                                    </table>
                                </div>
                                <div style="font-size: 12px;color: #9E9E9E;">{{park_info.update_info}} 정보 입니다.</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="siteInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{tgSite.car_info.car_num}}</div>
                            <div class="modal-body">
                                <table class="modal_table">
                                    <tr>
                                        <td>주차위치 : </td>
                                        <td>{{tgSite.site_code}}</td>
                                    </tr>
                                    <tr>
                                        <td>주차시작시간 : </td>
                                        <td>{{tgSite.in_txt}}</td>
                                    </tr>
                                    <tr>
                                        <td>경과시간 : </td>
                                        <td>{{tgSite.during_txt}}</td>
                                    </tr>
                                    <tr>
                                        <td>최종정보갱신시간 : </td>
                                        <td>{{tgSite.update_txt}}</td>
                                    </tr>
                                </table>
                                <div>
                                    <img ng-src="{{storage_url}}{{tgSite.car_info.img_path}}" style="width: 80%;margin-left:10%;margin-top:10px;">
                                    <!--<img src="https://s3-ap-northeast-1.amazonaws.com/parkingtalk/2015/11/19/01100aok151020/CH001_20151117174517_%EC%9D%B8%EC%8B%9D%EC%A4%91.jpg" style="width: 80%;margin-left:10%;margin-top:10px;">-->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
