@charset "utf-8";
@import url('common.css');

/* Basic */
html{font-size:12px;line-height:150%;font-family:돋움,Dotum,Arial,AppleGothic,sans-serif;color:#444;}
body.actPop{overflow:hidden;width:100%;height:100%;}
table{border-spacing:0;}/*border-collapse:collapse*/
input[type=text],input[type=password], select, textarea{border:1px solid #a9a9a9;}
input[type=text],input[type=password]{height:19px;}
input[type=file]{height:21px;}
input[type=radio],input[type=checkbox]{margin:2px 2px 0 0;vertical-align:-2px;}
select{height:21px;}
/*
select{padding:4px;}be ineffective in Safari
Select Box Height Control in Safari
background:#fff url('../basic/images/space.gif'); Mobile Browser(not Web Browser)
line-height : increase margin-bottom
font-size
*/
textarea{width:98%;}
a{text-decoration:none;color:#3a3a3a;}
a:active,a:hover{text-decoration:underline;}
iframe{width:100%;height:100%;}


/* Layout */
html,body{height:100%;}
body{/* background-color:#202020; */}
#wrap{width:100%;min-width:1280px;height:100%;}
#wrapLgn{width:100%;height:100%;background:url('../images/bg_login.png') no-repeat center center;}
#wrap_if{width:100%;height:100%;background-color:#fff;}
.ifCnt{padding:10px;}


/*Login*/
#box_login{position:absolute;width:274px;height:164px;padding:32px 59px 0 59px;background:url('../images/box_login.png') no-repeat center center;}
#box_login h1{margin-bottom:14px;}
.form_login{position:relative;}
#box_login input[type=text]{width:184px;padding:8px 8px 5px 8px;border:1px solid #939393;color:#707070;}
#box_login input:first-child{margin-bottom:3px;}
.bxLgn_btm{margin:14px 5px 0 0;text-align:right;color:#c2c2c2;}
.bxLgn_btm a{color:#757575;}
.bxLgn_btm a:active, .bxLgn_btm a:hover{text-decoration:none;color:#000;}


/*Header*/
#header{height: 60px;background: #4DABF5;}
.hdInner{position:relative;max-width:1920px;}
/*Header : section of Logo*/
#header .sect_logo{position:absolute;/* left:100px; *//* top:23px; */}
/*Header : GNB*/
#gnb{position:absolute;left:435px;top:15px;}
#gnb li{display:inline;margin-right:70px;}
#gnb li:last-child{}
#gnb li a{display:inline-block;padding-top:35px;font-weight:bold;vertical-align:bottom;background-repeat:no-repeat;background-position:center top;}
#gnb li a:active, #gnb li a:hover{text-decoration:none;}
/*Header : section of Right*/
#header .sect_rgt{position:absolute;right:100px;top:36px;color:#717171;}
a.hdTxt_nm{padding-right:14px;font-weight:bold;background:url('../images/arr_dwn.png') no-repeat right 4px;}
a.hdTxt_nm.active{background-image:url('../images/arr_up.png');}
#header .sect_rgt a:active, #header .sect_rgt a:hover{text-decoration:none;}
.lyr_account{z-index:800;display:none;position:absolute;right:0;padding:10px 0 5px 0;background-color:#fff;
    border:1px solid #d3d3d3;
    -webkit-border-radius:0.4em;
    -moz-border-radius:0.4em;
    -o-border-radius:0.4em;
    border-radius:0.4em;
    -webkit-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.1);
    -o-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.1);
    box-shadow:0px 1px 2px 1px rgba(0,0,0,0.1);
    /*h-shadow(우) v-shadow(하) blur(흐림도) spread(퍼짐도) color 위치(기본 | inset)*/
}
.lyr_account li{min-width:60px;padding:7px 40px;}
.lyr_account li:last-child{padding-top:10px;border-top:1px solid #d3d3d3;}


/*Container*/
#container{margin:40px 100px 0 100px;max-width:1720px;}

/*Container : Title*/
.sect_tit{position:relative;margin-bottom:8px;}
.sect_tit .txt_tit{margin-bottom:4px;padding:1px 0 0 18px;font-size:18px;font-weight:bold;color:#fff;background:url('../images/blt_redBar.png') no-repeat 4px 1px;}
.sect_tit .sect_rgt{position:absolute;right:3px;bottom:0;}

/*Container : Contents*/
#contents{position:relative;height:auto;*zoom:1;}
#contents.cntDash{top:10px;}
#contents:after{content:"";clear:both;display:block;}

/*Sub Title*/
.subTit{clear:both;margin-bottom:10px;padding-left:17px;font-size:14px;font-weight:bold;color:#fff;background:url('../images/blt_snb.png') no-repeat left 3px;}
.wrap_pop .subTit{color:#222;}

/*Tab*/
.sect_tab{position:relative;height:43px;padding-left:17px;margin-bottom:10px;background:#ea2f36;/*e77075-f0a9ac*/
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    border-radius:0.3em;
}
.sect_tab ul{overflow:hidden;height:34px;padding:9px 17px 0 0;}
.sect_tab ul li{display:inline;margin-right:6px;cursor:pointer;}
.sect_tab ul li .tbLft, .sect_tab ul li .tbRgt{background-image:url('../images/bg_tabOff.png');}
.sect_tab.tp02 ul li .tbLft, .sect_tab.tp02 ul li .tbRgt{background-image:url('../images/bg_tabOff2.png');}
.sect_tab ul li .tbLft{display:inline-block;height:34px;padding-left:20px;background-position:left bottom;}
.sect_tab ul li .tbRgt{overflow:hidden;display:inline-block;height:16px;padding:13px 20px 5px 0;margin-right:-6px;font-weight:bold;color:#f0a9ac;background-position:right bottom;}
.sect_tab.tp02 ul li .tbRgt{color:#202020;}
.sect_tab ul li:hover span,
.sect_tab ul li.active span{color:#202020;background-image:url('../images/bg_tabOn.png');}
.sect_tab.tp02 ul li:hover span,
.sect_tab.tp02 ul li.active span{color:#f0a9ac;background-image:url('../images/bg_tabOn2.png');}



/*Contents: Content*/
#sect_cnt:before{content:'';display:block;clear:both;}
#sect_cnt{font-size:14px;*zoom:1;}
#sect_cnt:after{content:'';display:block;clear:both;}


/*Section of Indivisual Contents*/
.section:before{content:'';display:block;clear:both;}
.section{position:relative;margin-bottom:30px;*zoom:1;}
.section:after{content:'';display:block;clear:both;}

/*Indivisual Content*/
.col1st{float:left;}
.col2nd{float:right;}
.indCnt{height:100%;background-color:#fff;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
/*Indivisual Content:Line Type*/
.indCnt.lineBox, .indCnt.tree{border:1px solid #999;}
/*Indivisual Content:Padding Type*/
.indCnt.padBox{padding:15px 20px;}
/*Indivisual Content:scroll Type*/
.indCnt.scrlBox{overflow:auto;overflow-x:hidden;}
/*Indivisual Content:Title Box Type*/
.boxTit{overflow:hidden;height:30px;padding:10px 0 0 15px;border-bottom:1px solid #999;background-color:#e9e9e9;}
.boxTit .txt_tit{float:left;padding-left:10px;font-weight:bold;}
.boxTit .sect_hRgt{float:right;padding-right:10px;}
.titBox_cnt{}
/*Indivisual Content:Tree Type*/
.indCnt.tree{width:290px;}
.indCnt.tree .titBox_cnt{overflow:auto;overflow-x:hidden;padding:15px 20px;}


/*Table : Basic*/
.tb_lst{width:100%;border-top:3px solid #ea2f36;border-bottom:2px solid #aaa;background-color:#fff;}
.tb_lst .cpt_rpt{padding-bottom:10px;font-size:16px;font-weight:bold;background-color:#fff;}
.tb_lst tr:first-child th, .tb_lst tr:first-child td{border-top:1px solid #ccc;}
.tb_lst th, .tb_lst td{border-left:1px solid #ccc;}
.tb_lst thead tr:first-child th:first-child, .tb_lst tbody th:first-child{border-left:none;}
.tb_lst th{width:120px;padding:10px 15px 8px 25px;border-bottom:1px solid #ccc;text-align:left;background:#f1f1f1;}
.tb_lst th .item{padding-left:10px; background:url('../images/blt_bs.gif') no-repeat left 4px;}
.tb_lst td{padding:8px 15px;border-bottom:1px solid #ccc;}
.tb_lst input[type=text]{width:98%;}
.tb_lst input.ui-pg-input{width:40px;text-align:right;}/*Page-input in Grid*/
.tb_lst textarea{height:150px;}
.tb_lst.data tbody{border-bottom:1px solid #ccc;}
.tb_lst.data thead th{background:#ededed;}
.tb_lst.data th, .tb_lst.data td{text-align:center;}
.tb_lst.data th{padding:6px 8px;}
.tb_lst.data td{padding:5px 8px;}
/*.tb_lst th, .tb_lst td{border-color:#202020 !important;}*/
.tb_lst.tp02{border-collapse:separate;border-spacing:2px;border:none;color:#fff;background:none;}
.tb_lst.tp02 th, .tb_lst.tp02 td{background:none !important;border:1px solid #555 !important;}
.tb_lst.tp02 th{border-color:#ccc !important;color:#f0a9ac;}
.tb_lst.tp03{border-bottom:1px solid #aaa;color:#fff;background:none;}
.tb_lst.tp03 th{color:#f0a9ac;}
.tb_lst.tp03 th, .tb_lst.tp03 td{border-left:none !important;border-bottom:1px dashed #666;background:none !important;}
.tb_lst.tp03 tr:first-child th, .tb_lst.tp03 tr:first-child td{border-top:none !important;}
.tb_lst.tp03 thead tr:last-child th,
.tb_lst.tp03 thead tr:first-child th:first-child,
.tb_lst.tp03 tbody tr:last-child td,
.tb_lst.tp03 tbody tr:last-child th:first-child{border-bottom:1px solid #ccc !important;}
.tb_lst.tp03r tbody tr:first-child th:first-child{border-bottom:1px solid #ccc !important;}
/*Table : Chart Statics Legend*/
.tb_lst.chrtLgn{font-weight:normal;border:1px solid #dcdcdc;
    -webkit-border-radius:0.2em;
    -moz-border-radius:0.2em;
    -o-border-radius:0.2em;
    border-radius:0.2em;
}
.tb_lst.chrtLgn th,
.tb_lst.chrtLgn td{padding:6px 5px 2px 5px;border:none;text-align:center;}
.tb_lst.chrtLgn tr:first-child th,
.tb_lst.chrtLgn tr:first-child td{border-top:none;}
.tb_lst.chrtLgn tr:last-child th,
.tb_lst.chrtLgn tr:last-child td{border-bottom:none;}
.tb_lst.chrtLgn th{font-weight:normal;background:#e1e1e1;}
.tb_lst.chrtLgn td{color:#555;background:#f5f5f5;}
.tb_lst.chrtLgn thead th{background:#aaa;
    -webkit-border-radius:0.2em 0.2em 0 0;
    -moz-border-radius:0.2em 0.2em 0 0;
    -o-border-radius:0.2em 0.2em 0 0;
    border-radius:0.2em 0.2em 0 0;
}
.tb_lst.chrtLgn.clTp01{padding:2px;border-collapse:separate;border-spacing:2px;}
.tb_lst.chrtLgn.clTp01 thead th{color:#fff;}
.tb_lst.chrtLgn.clTp02 *{background:none;}
.tb_lst.chrtLgn.clTp02 th,
.tb_lst.chrtLgn.clTp02 td{padding:4px 5px 2px 5px;}
.tb_lst.chrtLgn.clTp02 thead th{border-bottom:1px solid #dcdcdc;font-weight:bold;}
.tb_lst.chrtLgn.clTp02 tbody th{padding-right:2px;text-align:right;}
.tb_lst.chrtLgn.clTp02 tbody th:after{content:" :";}
.tb_lst.chrtLgn.clTp02 td{padding-left:2px;text-align:left;color:#ff7b69;}


/*Form : Basic*/
.frm{}
.frm .tb_lst br{line-height:250%;}
.frm .tb_lst .txtFrm{color:#ea2f36;}
/*Form : in Grid*/
.tb_lst .inGrd tr:first-child td{border-top:none !important;}
.tb_lst .inGrd th, .tb_lst .inGrd td{border-left:none !important;}
.tb_lst .inGrd tbody tr:first-child td{border-bottom:none !important;}
/*Form : Search*/
.frm_src{position:relative;margin-bottom:25px;padding:13px 22px 14px 22px;background:#e9e9e9;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    border-radius:0.3em;
    /*
    -webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.2);
    -o-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.2);
    box-shadow:0px 1px 3px 2px rgba(0,0,0,0.2);
    *//*h-shadow(우) v-shadow(하) blur(흐림도) spread(퍼짐도) color 위치(기본 | inset)*/
    /*
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#c3ccd1) to(#c3ccd1));
    background:-webkit-linear-gradient(#c3ccd1, #c3ccd1);
    background:-moz-linear-gradient(#c3ccd1, #c3ccd1);
    background:-o-linear-gradient(#c3ccd1, #c3ccd1);
    background:linear-gradient(#c3ccd1, #c3ccd1);
    */
}
.src_lst{}
.src_lst th{padding:7px 0 5px 10px;text-align:left;}
.src_lst th .item{padding-left:10px;background:url('../images/blt_gray.gif') no-repeat left 40%;}
.src_lst td{padding:5px 20px 5px 10px;}
/*Form : Search : Inner Type*/
.indCnt .frm_src{margin-bottom:10px;background:#eee;}
.frm_src.tpIn, .frm_src.tpIn02{-webkit-border-radius:0em;-moz-border-radius:0em;-o-border-radius:0em;border-radius:0em;}
.frm_src.tpIn{border:1px solid #ddd;}
.frm_src.tpIn02{border:3px solid #ddd;background:none;}
/*Selection Chart*/
.frm_src.slctChart, .frm_src.slctChart02, .frm_src.slctChart03{padding:5px 22px 6px 22px;}
.frm_src.slctChart{background:#ccc;border:1px solid #bbb;
    -webkit-border-radius:0em;-moz-border-radius:0em;-o-border-radius:0em;border-radius:0em;}
.frm_src.slctChart02{background:#c9c9c9;}
.frm_src.slctChart03{background:#ffe4e4;}
/*Form: Search: Button*/
.btnSrc{position:absolute;right:22px;top:13px;bottom:15px;padding:0 30px;font-weight:bold;text-align:center;color:#fff;cursor:pointer;
    display:-webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */
    /*display:-moz-box;  OLD: Firefox (can be buggy) */
    /*display:-ms-flexbox;  OLD: IE 10 */
    /*display:-webkit-flex;  FINAL, PREFIXED, Chrome 21+ */
    /*display:flex;  FINAL: Opera 12.1+, Firefox 22+ */
    -webkit-box-align:center;
    /*-moz-box-align:center;*/
    /*-ms-flex-align:center;*/
    -webkit-align-items:center;
    /*align-items:center;*/
    -webkit-box-pack:center;
    /*-moz-box-pack:center;*/
    /*-ms-flex-pack:center;*/
    -webkit-justify-content:center;
    /*justify-content:center;*/
    background-color:#444;
    -webkit-border-radius:0.4em;
    -moz-border-radius:0.4em;
    -o-border-radius:0.4em;
    border-radius:0.4em;
}
.btnSrc span{position:relative;top:calc(50% - 9px);}


/*Button*/
.btnBs{overflow:hidden;display:inline-block;margin:0 2px;padding:10px 13px 8px 13px;line-height:100%;text-align:center;vertical-align:middle;color:#fff;background-color:#646464;cursor:pointer;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -o-border-radius:0.5em;
    border-radius:0.5em;
}
.btnBs:active, .btnBs:hover, .btnBs.active{text-decoration:none;}
/*Button : Bright Background*/
.btnBs.bgWh{background-color:#010101;}
/*Button :  above Grid / Table / Form*/
.btnBs.tpAbv{padding:5px 9px 3px 9px;color:#717171;background-color:#f9f9f9;
    border:1px solid #c2c2c2;
    -webkit-border-radius:0.2em;
    -moz-border-radius:0.2em;
    -o-border-radius:0.2em;
    border-radius:0.2em;
}
.btnBs.tpAbv:active, .btnBs.tpAbv:hover{text-decoration:none;color:#000;}
/*Button : in Grid / Table / Form*/
.btnBs.tpIn{margin:0;padding:6px 9px 3px 9px;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    border-radius:0.3em;}
/*Button : On/Off*/
.btnBs.on, .btnBs.off{width:56px;margin:0;padding:5px 0 2px 0;font-weight:bold;background-color:#2c2c2c;
    -webkit-border-radius:1.5em;
    -moz-border-radius:1.5em;
    -o-border-radius:1.5em;
    border-radius:1.5em;
}
.btnBs.on{color:#00da38;}
.btnBs.off{color:#ff0000;}
/*Button : Step*/
.btnBs.step{margin:2px 0;padding:10px 10px 7px 10px;}
/*Button: Group*/
.btnGrp{*zoom:1;}
.btnGrp:after{content:'';display:block;clear:both;}
/*Button: Step Box*/
.btnGrp.step{position:absolute;}


/*Popup : Layer Type*/
#cover_pop, #cover_popLol{overflow:auto;overflow-x:hidden;display:none;position:absolute;left:0;top:0;width:100%;height:100%;background:url('../images/bg_cover.png') repeat right bottom;}
#cover_pop{z-index:9980;}
#cover_popLol{z-index:9990;}

body.pop{}
.wrap_pop{z-index:9981;display:none;position:absolute;top:100px;left:0;background:#fff;
    -webkit-border-radius:0.6em;
    -moz-border-radius:0.6em;
    -o-border-radius:0.6em;
    border-radius:0.6em;
    -webkit-box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
    -o-box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
    box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
}/*h-shadow(우) v-shadow(하) blur(흐림도) spread(퍼짐도) color 위치(기본 | inset)*/
/*Popup: Header*/
.pop_header{position:relative;padding:15px 25px 13px 25px;background-color:#ea2f36;
    -webkit-border-radius:0.5em 0.5em 0 0;
    -moz-border-radius:0.5em 0.5em 0 0;
    -o-border-radius:0.5em 0.5em 0 0;
    border-radius:0.5em 0.5em 0 0;
}
.pop_header .pop_tit{font-size:18px;font-weight:bold;color:#fff;}
.pop_header .ico_close{position:absolute;top:15px;right:20px;cursor:pointer;}
/*Popup : Contents*/
.pop_cnt{padding:30px 35px 10px 35px;min-width:300px;min-height:100px;}

/*Popup : Layer Type: Layer of Layer*/
.wrap_popLol{z-index:9991;display:none;position:relative;margin:0 auto;font-size:13px;background:#fff;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    border-radius:0.3em;
    -webkit-box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
    -o-box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
    box-shadow:0px 1px 5px 2px rgba(0,0,0,0.2);
}
.popLol_header{position:relative;padding:5px 15px;
    -webkit-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -o-border-radius:0.3em;
    border-radius: 0.3em 0 0;
    background:#555;
}
.popLol_header .pop_tit{font-weight:bold;color:#fff;}
.popLol_header .ico_close{position:absolute;top:7px;right:10px;cursor:pointer;}
.popLol_cnt{padding:10px 10px 10px 10px;}
.wrap_popLol .section{margin-bottom:0;}

/*Popup: Window Type : 15/04/20 미사용*/
/*Popup:Header*/
#hdPop{overflow:hidden;position:relative;top:0;left:0;width:100%;height:45px;background-color:#2e3641;}
#hdPop .sect_hLft{padding:15px 0 0 15px;font-size:14px;font-weight:bold;color:#fff;}
.sect_hLft .txt{float:left;padding:1px 0 0 25px;background:url('../images/blt_pop_tit.png') no-repeat left top;}
.sect_hLft .btn_set{float:left;margin-left:10px;}
#hdPop .sect_hRgt{position:absolute;right:0;top:0;}
#hdPop .sect_hRgt img{background-color:#20262f;cursor:pointer;}
/*Popup:Contents*/
#cntPop{position:relative;padding:25px;width:auto;height:auto;*zoom:1;}
#cntPop:after{content:"";clear:both;display:block;}
.sect_iCnt{margin-bottom:30px;}



/*========================================Dashboard========================================*/

/*Gridster*/
.gridster{padding:0 10px;width:auto;}
.gridster li{font-size:1em;font-weight:bold;text-align:center;}
.gridster .gs-w{background:#fff;}
.gridster .player{background:#bbb;}
.gridster .preview-holder{border:none!important;background:red!important;}


/*Box Basic*/
.boxBs{width:100%;height:100%;}
.boxBsInner{border:1px solid #b7b7b7;}
.boxBs .box_tit{overflow:hidden;position:relative;width:100%;height:40px;cursor:pointer;}
.boxBs .box_tit .sect_hLft{overflow:hidden;height: 1.2em;position:absolute;left:25px;top:13px;width:auto;white-space:normal;color: #222222;text-align:left;}
.boxBs .box_tit .sect_hRgt{z-index:999;position:absolute;right:1px;top:1px;padding:10px 10px 9px 12px;}
.boxBs .box_cnt{background-color:#fff;
    /*height:calc(100% - 42px);
    width:calc(100% - 2px);
    사파리 외 브라우저만 적용*/
    width:100%;
}
